/* 基础按钮样式 */
/* 一定要加 -fx- */

.menu-btn {
    -fx-font-size: 16px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-pref-width: 120px;
    -fx-pref-height: 40px;
}

.game-control-btn {
    -fx-font-size: 14px;
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-pref-width: 80px;
    -fx-pref-height: 35px;

}

/* 悬停效果 */
.menu-btn:hover {
    -fx-background-color: #45a049;
}