.root {
    -fx-background-image: url('/Sprites/bg.png');
    -fx-background-size: cover;
}

VBox {
    -fx-alignment: Center;
}

.state {
    -fx-padding:10px;
    -fx-text-fill: Black;
    -fx-font-family: "Microsoft YaHei", "Arial", sans-serif;
    -fx-font-size: 100px;
    -fx-font-style: italic;
}

.stat {
    -fx-background-image: url('/Sprites/label-bg.jpg');
    -fx-text-fill: Black;
    -fx-font-family: "Microsoft YaHei", "Arial", sans-serif;
    -fx-font-size: 50px;
    -fx-font-style: italic;
}

.button {
    -fx-pref-width: 120px;
    -fx-pref-height: 20px;

    -fx-background-color: rgba(50, 150, 200, 0.8);

    -fx-text-fill: Black;
    -fx-font-family: "Microsoft YaHei", "Arial", sans-serif;
    -fx-font-size: 15px;
    -fx-font-style: italic;

    /* 圆角匹配修复 */
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;

    -fx-border-color: transparent;
    -fx-border-width: 4px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 2);
}

.button:hover {
    -fx-background-color: rgba(50, 215, 193, 0.8);
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 15, 0, 0, 3);
    -fx-border-color: rgba(30, 160, 140, 0.95);
    -fx-border-width: 4.5px;
}

.button:pressed {
    -fx-background-color: rgba(70, 170, 220, 0.8);
    -fx-border-color: rgba(30, 100, 140, 0.9);
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
    -fx-translate-y: 1px;
}